#tkeshel{
    position: relative;
    top:25vh;
    left:40vw;
    width:20vw;
    height:20vw;
    object-fit:cover;
    border-radius:50%;
    border: 5px solid red;
    box-shadow: 0px 0px 50px 2px red;
}
#click{
    font-size: 20vw;
}
@keyframes crazy{
    0%{
        background-color:black;
    }
    50%{
        background-color:white;
    }
    100%{
        background-color:rgb(0, 0, 0);
    }
}
@keyframes tkeshel1{
    0%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    5%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    10%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    15%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    20%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    25%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    30%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    35%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    40%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    45%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    50%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    55%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    60%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    60%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    65%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    70%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    75%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    80%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    85%{
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    90%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    95%{
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    100%{
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
}
@keyframes tkeshel2{
    0%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    5%{
        filter:saturate(3) invert(25%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    10%{
        filter:saturate(2) invert(15%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    15%{
        filter:saturate(5) invert(5%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    20%{
        filter:saturate(1) invert(20%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    25%{
        filter:saturate(6) invert(5%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    30%{
        filter:saturate(8) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    35%{
        filter:saturate(0) invert(90%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    40%{
        filter:saturate(4) invert(90%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    45%{
        filter:saturate(2) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    50%{
        filter:saturate(9) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    55%{
        filter:saturate(1) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    60%{
        filter:saturate(3) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    60%{
        filter:saturate(5) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    65%{
        filter:saturate(4) invert(8%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    70%{
        filter:saturate(10) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    75%{
        filter:saturate(0) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    80%{
        filter:saturate(1) invert(20%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    85%{
        filter:saturate(3) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
    }
    90%{
        filter:saturate(9) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
    95%{
        filter:saturate(2) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
    }
    100%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
    }
}
@keyframes tkeshel3{
    0%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 50%;
        transform: translate(0px,0px) scale(1);
    }
    5%{
        filter:saturate(3) invert(25%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 40%;
        transform: translate(-250px,-100px) scale(1.5);
    }
    10%{
        filter:saturate(2) invert(15%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 10%;
        transform: translate(-41px,-30px) scale(2.5);
    }
    15%{
        filter:saturate(5) invert(5%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-1px,-13px) scale(1.5);
    }
    20%{
        filter:saturate(1) invert(20%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 10%;
        transform: translate(-202px,-30px) scale(0.5);
    }
    25%{
        filter:saturate(6) invert(5%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 10%;
        transform: translate(-50px,-101px) scale(1.9);
    }
    30%{
        filter:saturate(8) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-40px,100px) scale(1.5);
    }
    35%{
        filter:saturate(0) invert(90%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 50%;
        transform: translate(-22px,-30px) scale(0.4);
    }
    40%{
        filter:saturate(4) invert(90%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 40%;
        ttransform: translate(-400,400px) scale(2.5);
    }
    45%{
        filter:saturate(2) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 40%;
        transform: translate(320px,-203px) scale(1.5);
    }
    50%{
        filter:saturate(9) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(-62px,-301px) scale(0.8);
    }
    55%{
        filter:saturate(1) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(-410px,100px) scale(1.5);
    }
    60%{
        filter:saturate(3) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-270px,-230px) scale(0.2);
    }
    60%{
        filter:saturate(5) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 20%;
        transform: translate(-100px,400px) scale(2);
    }
    65%{
        filter:saturate(4) invert(8%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-62px,-30px) scale(0.8);
    }
    70%{
        filter:saturate(10) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(50px,-30px) scale(5);
    }
    75%{
        filter:saturate(0) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 40%;
        transform: translate(-141px,100px) scale(1.9);
    }
    80%{
        filter:saturate(1) invert(20%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 20%;
        transform: translate(-211px,-30px) scale(1.5);
    }
    85%{
        filter:saturate(3) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 10%;
        transform: translate(500px,200px) scale(0.8);
    }
    90%{
        filter:saturate(9) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(300px,-30px) scale(3);
    }
    95%{
        filter:saturate(2) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 20%;
        transform: translate(-62px,-30px) scale(0.5);
    }
    100%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 50%;
        transform: translate(0px,0px) scale(1);
    }
}
@keyframes tkeshel4{
    0%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 50%;
        transform: translate(0px,0px) scale(1) rotateZ(0) rotateX(0deg);
    }
    5%{
        filter:saturate(3) invert(25%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 40%;
        transform: translate(-200px,100px) scale(1.5)  rotateX(-202deg) rotateY(23deg) rotateZ(110deg);
    }
    10%{
        filter:saturate(2) invert(15%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 10%;
        transform: translate(401px,-30px) scale(2.5) rotateX(102deg) rotateY(322deg);
    }
    15%{
        filter:saturate(5) invert(5%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-1px,-103px) scale(1.5) rotateX(502deg) rotateY(126deg) rotateZ(-210deg);
    }
    20%{
        filter:saturate(1) invert(20%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 10%;
        transform: translate(-602px,-30px) scale(0.5) rotateX(0deg) rotateY(0deg);
    }
    25%{
        filter:saturate(6) invert(5%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 10%;
        transform: translate(-50px,1px) scale(1.2) rotate(7230deg);
    }
    35%{
        filter:saturate(0) invert(90%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 50%;
        transform: translate(-22px,-30px) scale(0.4) rotateX(230deg) rotateY(30deg);
    }
    40%{
        filter:saturate(4) invert(90%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 40%;
        ttransform: translate(-700px,1000px) scale(2.5) rotateX(0deg) rotateY(0deg) rotateZ(-510deg);
    }
    45%{
        filter:saturate(2) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 40%;
        transform: translate(520px,-303px) scale(1.5) rotateX(-210deg) rotateY(100deg) rotateZ(710deg);
    }
    50%{
        filter:saturate(9) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(-62px,-301px) scale(0.8) rotate(-162deg);
    }
    55%{
        filter:saturate(1) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(-710px,100px) scale(1.5) rotateX(501deg) rotateY(3192deg) rotateZ(2313deg);
    }
    60%{
        filter:saturate(3) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(350px,-230px) scale(0.2) rotate(-330deg);
    }
    60%{
        filter:saturate(5) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 20%;
        transform: translate(-100px,400px) scale(2) rotate(5201deg);
    }
    65%{
        filter:saturate(4) invert(8%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-62px,-30px) scale(0.8) rotateX(430deg) rotateY(100deg) rotateZ(-110deg);
    }
    70%{
        filter:saturate(10) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(50px,-30px) scale(5) rotatex(-701deg) rotateY(-293deg) rotateZ(310deg);
    }
    75%{
        filter:saturate(0) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 40%;
        transform: translate(-141px,100px) scale(1.9) rotate(401deg);
    }
    80%{
        filter:saturate(1) invert(20%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 20%;
        transform: translate(511px,-30px) scale(1.5) rotateX(-730deg) rotateY(921deg) rotateZ(-210deg);
    }
    85%{
        filter:saturate(3) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 10%;
        transform: translate(-500px,100px) scale(0.8) rotate(0deg);
    }
    90%{
        filter:saturate(9) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(500px,-30px) scale(3) rotateX(-710deg) rotateY(121deg) rotateZ(-710deg);
    }
    95%{
        filter:saturate(2) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 20%;
        transform: translate(-62px,-30px) scale(0.5) rotate(160deg);
    }
    100%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 50%;
        transform: translate(0px,0px) scale(1) rotate(0) rotate(0deg);
    }
}