#tkeshel{
    position: relative;
    top:25vh;
    left:40vw;
    width:20vw;
    height:20vw;
    object-fit:cover;
    border-radius:50%;
    border: 5px solid red;
    box-shadow: 0px 0px 50px 2px red;
}
#click{
    font-size: 200px;
}
@keyframes tkeshel{
    0%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 50%;
        transform: translate(0px,0px) scale(1) rotateZ(0) rotateX(0deg);
    }
    5%{
        filter:saturate(3) invert(25%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 40%;
        transform: translate(-200px,100px) scale(1.5) rotateZ(140deg) rotateX(180deg);
    }
    10%{
        filter:saturate(2) invert(15%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 10%;
        transform: translate(401px,-30px) scale(2.5) rotateZ(-700deg) rotateX(80deg);
    }
    15%{
        filter:saturate(5) invert(5%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-1px,-103px) scale(1.5) rotate(502deg,32deg);
    }
    20%{
        filter:saturate(1) invert(20%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 10%;
        transform: translate(-602px,-30px) scale(0.5) rotate(501deg);
    }
    25%{
        filter:saturate(6) invert(5%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 10%;
        transform: translate(-50px,301px) scale(1.9) rotate(7230deg);
    }
    30%{
        filter:saturate(8) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-400px,300px) scale(1.5) rotate(501deg);
    }
    35%{
        filter:saturate(0) invert(90%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 50%;
        transform: translate(-22px,-30px) scale(0.4) rotate(230deg);
    }
    40%{
        filter:saturate(4) invert(90%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 40%;
        ttransform: translate(-700px,1000px) scale(2.5) rotate(520deg);
    }
    45%{
        filter:saturate(2) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 40%;
        transform: translate(520px,-303px) scale(1.5) rotate(-710deg);
    }
    50%{
        filter:saturate(9) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(-62px,-301px) scale(0.8) rotate(-162deg);
    }
    55%{
        filter:saturate(1) invert(10%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(-710px,100px) scale(1.5) rotate(501deg);
    }
    60%{
        filter:saturate(3) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(350px,-230px) scale(0.2) rotate(-7330deg);
    }
    60%{
        filter:saturate(5) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 20%;
        transform: translate(-100px,400px) scale(2) rotate(501deg);
    }
    65%{
        filter:saturate(4) invert(8%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(-62px,-30px) scale(0.8) rotate(430deg);
    }
    70%{
        filter:saturate(10) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 20%;
        transform: translate(50px,-30px) scale(5) rotate(-701deg);
    }
    75%{
        filter:saturate(0) invert(10%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 40%;
        transform: translate(-141px,100px) scale(1.9) rotate(501deg);
    }
    80%{
        filter:saturate(1) invert(20%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 20%;
        transform: translate(511px,-30px) scale(1.5) rotate(-730deg);
    }
    85%{
        filter:saturate(3) invert(30%);
        border: 5px solid blue;
        box-shadow: 0px 0px 50px 2px blue;
        border-radius: 10%;
        transform: translate(-500px,100px) scale(0.8) rotate(520deg);
    }
    90%{
        filter:saturate(9) invert(10%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 40%;
        transform: translate(500px,-30px) scale(3) rotate(-710deg);
    }
    95%{
        filter:saturate(2) invert(30%);
        border: 5px solid green;
        box-shadow: 0px 0px 50px 2px green;
        border-radius: 20%;
        transform: translate(-62px,-30px) scale(0.5) rotate(160deg);
    }
    100%{
        filter:saturate(1) invert(0%);
        border: 5px solid red;
        box-shadow: 0px 0px 50px 2px red;
        border-radius: 50%;
        transform: translate(0px,0px) scale(1) rotate(0) rotateY(4000deg);
    }
}