body{
    margin-top: 10px;
    margin-bottom: 30px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 8px;
}
.galleryImg{
    width: 24vw;
    height: 24vw;
    object-fit: cover;
    border:2px solid rgb(0, 252, 42);
    box-shadow: 1px 1px 4px 1px hsla(113, 100%, 41%, 0.5);
    animation: appear 2s;
    transform: 0.2s;
}
.galleryImg:hover{
    transform: scale(0.998);
    border:2px solid rgb(0, 225, 37);
}