/* acadmy header */
#goa{
    color:rgb(0, 213, 0);
}
#bestAcademy{
    margin-top: 10px;
    position: relative;
    padding-left: 4.5vw;
    font-size:4.5vw;
    animation: appear 0.5s;   
    transition: 0.05s;
}
#bestAcademy:hover{
    transform: scale(0.998) translate(0px,-1px);
}
#bestAcademy:active{
    transform: scale(0.999) translate(0px,-1px);
}
/* stats */
#stats{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: appearUp 1s;   
}
.container{
    position: relative;
    width:25vw;
    height:25vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    margin:17px 0px;
    border:5px solid rgb(0, 87, 0);
    margin-bottom: 30px;
    box-shadow: 8px 8px 8px hsla(126, 100%, 13%, 0.5);
    transition: 0.2s;
}
.container:hover{
    transform: scale(1.005) translate(0px,-1px);
    background-color: rgb(0, 121, 0);
}
.container:active{
    transform: scale(1.003) translate(0px,0px);
    background-color: rgb(0, 116, 0);
}
.stats{
    text-align:center;
    vertical-align: text-bottom;
    font-size:3vw;
}
.statsImg{
    filter: invert(100%);
    position: absolute;
    top:4vw;
    vertical-align: text-top;
    width: 7vw;
}
/* ceo */
.ceo{
    font-size: 3vw;
    text-align: center;
}
#ceoCenter{
    display: flex;
    justify-content: center;
}
#ceoimg{
    width: 28vw;
    height: 28vw;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(3, 182, 0);
    box-shadow: 0px 0px 10px rgb(3, 182, 0);
    margin-bottom: 50px;
    background-color: black;
}
#ceoAbout{
    opacity: 0;
    margin-bottom: 50px;
    margin-right: 50vw;
    position: relative;
    top:25vw;
    left:35vw;
    font-size: 2vw;
    z-index: -10;
}
#ceo3{
    animation: appearUp 1s;
}
#ceo{
    position: absolute;
    left:30%;
    width:40%;
    transition: 0.4s;
}
#ceo:hover{
    filter: saturate(1.5);
    transform: scale(1.01);
}
#ceo:active{
    filter: saturate(1.2);
    transform: scale(1.005);
}
#secreti{
    display: none;
    position:absolute;
    font-size: 0.6vw;
    z-index: 2;
    color:rgb(39, 25, 25);
}
#logininfo{
    display: none;
    position:absolute;
    font-size: 0.5vw;
    top:300px;
    left:600px;
    z-index: 2;
    color:rgb(67, 67, 67);
}
@media screen and (max-width: 600px) {
    #ceoAbout{
        font-size:12px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 300px) {
    #ceoAbout{
        top:15vw;
    }
}