h2{
    color:rgb(1, 69, 1);
}
main{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    animation: appearUpLow 1s;
    margin-bottom: 40px;
    width: 40vw;
    height: 92vh;
    background-color: rgb(0, 129, 0);
    border-radius: 20px;
    box-shadow: 8px 8px 8px hsla(126, 100%, 13%, 0.5);
    text-align: center;
    border: 2px solid rgb(0, 84, 0);
}
.form{
    width:50%;
    height:3vh;
    font-size:20px;
    border-radius: 7px;
    border: 2px solid rgb(0, 59, 0);
    background-color:rgb(217, 255, 217);
}
.submit{
    border: 2px solid rgb(0, 59, 0);
    background-color:rgb(0, 107, 0);
    border-radius: 7px;
    width:40%;

    color:white;
    text-shadow: 1px 1px 2px black;
    height:3vh;
}
.submit:hover{
    background-color:rgb(0, 93, 0);
}
.submit:active{
    background-color:rgb(0, 76, 0);
}
#errorR,#errorL{
    color:hsl(0, 100%, 30%);
    font-size: 12px;
}
@media screen and (max-height: 670px) {
    #form{
        height: 650px;
    }
    .form{
        height:20px;
    }
    .submit{
        height:20px;
    }
}
@media screen and (max-width: 1200px) {
    #form{
        width: 55%;
    }
    .form{
        width: 50%;
    }
    .submit{
        width: 45%;
    }
}
@media screen and (max-width: 700px) {
    #form{
        width: 70%;
    }
    .form{
        width: 60%;
    }
    .submit{
        width: 55%;
    }
}