@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color:white;
    margin:0px;
    padding:0px;
    font-family: roboto;
    user-select: none;
}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track{
    border: 3px solid #00740c;
    background: #00740c;
}
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: #003d09;
}
::-webkit-scrollbar-thumb:hover{
    background: #003207;
}
::-webkit-scrollbar-thumb:active{
    background: #002805;
}
::-webkit-scrollbar-button{
    background:#00b919;
}
::-webkit-resizer{
    color:red;
}
/*navigation start*/
#navigation{
    z-index: 10;
    position:fixed;
    top:0px;
    width:99vw;
    background-color: rgb(24, 24, 24);
    height:50px;
    display:flex;
    align-items: center;
    padding-left: 1vw;
    font-size:20px;
    gap:5px;
    padding-left: 3.5vw;
}
.navButton{
    padding:13px 20px;
    color:white;
    user-select: none;
    text-decoration: none;
    border-radius: 8px;
}
.navButton:hover{
    background-color:rgb(123, 123, 123);
    color:rgb(240, 240, 240);
}
/*navigation end*/
#goa{
    color:rgb(0, 213, 0);
}
#bestAcademy{
    margin-top: 70px;
    position: relative;
    padding-left: 4.5vw;
    font-size:4.5vw;
}
/* stats start */
#stats{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container{
    position: relative;
    width:25.4vw;
    height:25.4vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    margin:17px 0px;
    border:5px solid rgb(0, 87, 0);
    margin-bottom: 30px;
}
.stats{
    text-align:center;
    vertical-align: text-bottom;
    font-size:3vw;
}
.statsImg{
    filter: invert(100%);
    position: absolute;
    top:4vw;
    vertical-align: text-top;
    width: 7vw;
}
/* stats end */
.ceo{
    text-align: center;
    font-size:40px;
}
#ceo{
    display: flex;
    justify-content: center;
}
#ceoimg{
    filter: invert(100%);
    width: 30vw;
    border-radius: 50%;
    border: 3px solid rgb(182, 0, 146);
    box-shadow: 0px 0px 10px rgb(182, 0, 146);
    margin-bottom: 70px;
}
/* footer start */
footer{
    z-index: 10;
    position:fixed;
    font-size:20px;
    padding:1vw;
    height:20px;
    background-color: rgb(16, 16, 16);
    width:98vw;
    bottom:0px;
}
#copyright{
    margin:0px;
}
/* footer end */